body{
	border-right: 1px solid black;
}

.firstcont{
	text-align: center;
    margin-top: 20%;
    height: 100%;
    margin-bottom: 20%;
   	
}
hr{
	width: 35%;

}

.secoundcont{

	text-align: center;
	

}

hr{
	width: 20%;
    

}

.card1{

	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYlnLVpgDcNfyD_-5O4H5YKLTbLZxRZDY99Q&usqp=CAU);
    


}

.mb-5{
	align-content: center;
}



